# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Sensitive configuration files
app/config.py
.env
.env.*

# Virtual environments
.venv/
env/
venv/
ENV/

# Log files
*.log

# SQLite and other local databases
*.sqlite3
*.db
instance/

# Flask/Django migration folders
migrations/

# System files
.DS_Store
Thumbs.db

# DBeaver config
*.dbeaver-data-sources.json

# VSCode settings
.vscode/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# MyPy
.mypy_cache/

# Others
*.bak
*.swp
*.swo
